<!DOCTYPE html>
<html ng-app="Feed">
<head>
  <title>Twitterng</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="TwitterFeed">
<div class="container">
  <%= render partial: 'layouts/header' %>

  <%= render partial: 'twitter/login' %>
  <%= render partial: 'twitter/info' %>
  <%= render partial: 'twitter/timeline' %>
  <%= yield %>

  <%= render partial: 'layouts/footer' %>

  </div>

</div>



</body>
</html>
